extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 Gareth Kirk
        p.lead.text-light
          | Full Stack JavaScript Developer.
        .portfolio-bio
          p
            | Hi, I'm Gareth, I am 24 years old from Bridgend in South Wales, UK. I am in to all things tech! I love web development and Android development using Java (and soon Kotlin). I have been doing web development things in my free time for the last 8 or so years and started by teaching myself. I have recently started to cement my knowledge by following the Fullstack Javascript techdegree program by Treehouse. Although I have worked in tech since I was 18, I have never had a development job and would love to get started!
            
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li HTML
          li CSS
          li JS
          li NPM
          li Express 
          li npm
          li React
          li Android (Java)
        h6 Contact Info

        ul
          li 07498619084
          li me@garethkirk.com

        //a.button.expanded(href='') LinkedIn This is to be added later
        a.button.expanded(href='https://github.com/GarethTheNerd') GitHub
        a.button.expanded(href='https://twitter.com/GarethTheNerd') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  